<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-if</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        Sei maggiorenne?
        <input type="checkbox" v-model="isMaggiorenne">
        <!-- <p>{{ isMaggiorenne ? 'Fiuuu' : 'Gufff' }}</p> -->
        <!-- <p>{{ getVadoAMontorio() }}</p> -->
        <div v-if="isMaggiorenne">Sei maggiorenne allora</div>
        <div v-if="isMaggiorenne==false">Non sei maggiorenne stronzo</div>
        <!-- v-if nasconde proprio l'elemento -->
        <!-- v-show gli mette solo i display: none -->

    </div>
    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    isMaggiorenne: false,
                }
            },
            methods: {
                getVadoAMontorio () {
                    return this.isMaggiorenne ? 'Fiuuu' : 'Gufff';
                }
            }
        });
    </script>
</body>
</html>