*{
    margin: 0;
    padding: 0;
}
#app{
    width: 100%;
    height: 100%;
}

.progressbar{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background: #8ccaff;
    color: #fff;
}

.node{
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.active {
    background: #2499ff;
}

.active h1 {
    font-weight: 700;
}

.quiz{
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.answer-wrapp {
    margin-left: 25%;
}

.answer {
    margin: 10px;
}

input[type=radio] {
    margin: 4px 6px 0;
    font-size: 50px;
}
.answer label {
    font-size: 30px;
}
#next{
    left: calc(100% - 200px);
}

.movement-btn{
    background: #2499ff;
    border: none;
    height: 100px;
    width: 200px;
    position: absolute;
    top: calc(100% - 100px);
    color: #fff;
    font-weight: 700;
    border-radius: 20px;
}
.movement-btn:hover{
    background: #2499ff;
}
.movement-btn:focus{
    outline: none;
}
.movement-btn:active{
    outline: none;
}
.movement-btn:disabled{
    background: #8cc9ffb2;
    font-weight: 400;
}

.containerNewGame {
    text-align: center;
    margin-top: 40px;
}

.containerNewGame img {
    border: 5px solid #2499ff;
    border-radius: 5px;
}

.containerNewGame button {
    padding: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #2499ff;
    border: none;
    margin-top: 50px;
    border-radius: 5px;
}